<!DOCTYPE html>
<html>
<head>
    <title>Programs</title>
</head>
<body>
    <h1>Programs</h1>
    <table border="1">
        <tr>
            <th>Program ID</th>
            <th>Program Name</th>
            <th>Description</th>
            <!-- Add other columns as necessary -->
        </tr>
        {% for program in programs %}
        <tr>
            <td>{{ program[0] }}</td>
            <td>{{ program[1] }}</td>
            <td>{{ program[2] }}</td>
            <!-- Add other columns as necessary -->
        </tr>
        {% endfor %}
    </table>
</body>
</html>
